<div id="clients" class="clients-wrapper">
	<h1 class="">
		НАШИ КЛИЕНТЫ
	</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-responsive">
					<%= image_tag('kinder.jpg', alt: 'Kinder') %>
				</article>
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-responsive">
					<%= image_tag('gulliver.jpg', alt: 'Gulliver') %>
				</article>
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-responsive">
					<%= image_tag('Gazprom.svg', alt: 'Gazprom') %>
				</article>
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-responsive">
					<%= image_tag('volga_dnepr.png', alt: 'Волга-Днепр') %>
				</article>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-responsive">
					<%= image_tag('akva.jpg', alt: 'Аквамолл') %>
				</article>
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-responsive">
					<%= image_tag('dobryi_stil.png', alt: 'Добрый стиль') %>
				</article>
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-responsive">
					<%= image_tag('dvery.jpg', alt: 'Александрийские двери') %>
				</article>
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-12 img-responsive">
					<%= image_tag('just.jpg', alt: 'Just.ru') %>
				</article>
			</div>
		</div>
	</div>
</div>