<!DOCTYPE html5>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="javascript" href="application.js">﻿
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "css/custom" %>
    <%= stylesheet_link_tag "css/bootstrap" %>
    <%= stylesheet_link_tag "css/reset" %>
  </head>
  <body>
    <div class="container">
      <div class="row header ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 img-responsive"> 
	<%= link_to root_url do %>
 	  <%= image_tag('logo_min(1).png', alt: 'Logo') %>
	<% end %>
	</div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
	  <p> 
	    телефон: 8 (927) 631-57-87 <br>
	    Агапов Андрей 
	  </p> 
	</div>
      </div>       
    </div>  
    <div class="container_my">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 class1"> 
	  <h1> C </h1>
	</div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 class2"> 
	  <h1> C </h1>
	</div>
      </div>         
    </div>  
    <div class="container-fluid">
      <div class="row quote">
         <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 foto_circle"> </div>
         <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 quote"> </div>
      </div>         
    </div>    
  </body>
</html>
