<!DOCTYPE html5>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="javascript" href="application.js">﻿
		<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	    <%= stylesheet_link_tag "css/reset" %>
	    <%= stylesheet_link_tag "css/custom" %>
	    <%= stylesheet_link_tag "css/bootstrap" %>

	    <title> Agapoff Studio</title>
	    <meta charset=UTF-8">
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/web' %>
		<%= render 'layouts/quote' %>
		<%= render 'layouts/company' %>
		<%= render 'layouts/form' %>
		<%= render 'layouts/clients' %>
		<%= render 'layouts/map' %>
		<%= render 'layouts/footer' %>
	</body>
</html>
