<!DOCTYPE html5>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="javascript" href="application.js">﻿
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "css/custom" %>
    <%= stylesheet_link_tag "css/bootstrap" %>
    <%= stylesheet_link_tag "css/reset" %>
  </head>
  <body>
    <div class="container">
      <div class="row header">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 "> 
	<%= link_to root_url do %>
 	  <%= image_tag('logo_min(1).png', alt: 'Logo') %>
	<% end %>
	</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> 
	  <p class="contacts"> 
	    <em><strong>телефон: 8 (927) 631-57-87</em></strong> <br>
	    <em><strong>Агапов Андрей</em> </strong>
	  </p> 
	</div>
      </div>       
    </div>   
    <div class="container_my container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 class1"> 
	  <h1> C </h1>
	</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 class2"> 
	  <h1> C </h1>
	</div>
      </div>         
    </div> 
 
    <div class="row-fluid">
      <div class="col-md-4 ">
        <div class="row">
          <div class="col-md-offset-3 col-md-8 photo img-responsive">
 	    <%= image_tag('Andrew.jpg', alt: 'Andrew Agapoff') %>
	  </div>
        </div>
        <div class="row">
          <div class="col-md-offset-5 col-md-10">
            <h3> Aндрей Агапов </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-5 col-md-10">
            <small> Человек Дизайнер </small>
	  </div>
        </div>
      </div>
      <div class="col-md-8">
        <blockquote>
	  <p> ура! </p>
	  <p> ура! </p>
	  <p> И ура! </p>
	</blockquote>
      </div>
    </div>
<div id="footer">
		<div class="footer-helper-container">
			<div class="footer-top-helper"><span class="float-left">&nbsp;</span><span class="float-right">&nbsp;</span></div>
			
<div>
	<div>
		<p class="bottom-copyright class"><span style="display: block;">© 2013-2017</span> «Agapoff Studio»</p>
	</div>
		<div class="widgets">
		



<div class="float-left photo">
	<a target="_blank" href="https://vk.com/agapoffstudio"> 
	  <%= image_tag('vk.png', alt: 'Vk') %> 
	</a>&nbsp;
	<a target="_blank" href="https://www.facebook.com/it73ru"><img src="/skins/basic/customer/images/icons/fb.png" alt="Facebook"></a>&nbsp;
	<a target="_blank" href="https://twitter.com/it73ru"><img src="/skins/basic/customer/images/icons/twi.png" alt="Twitter"></a>&nbsp;
	<a target="_blank" href="https://www.youtube.com/user/it73ru"><img src="/skins/basic/customer/images/icons/youtube.png" alt="YouTube"></a>&nbsp;
	
	
</div>
	</div>
		



			<div class="footer-bottom-helper"><span class="float-left">&nbsp;</span><span class="float-right">&nbsp;</span></div>
		</div>
	</div>
</div>

    <!--<div class="container-fluid">
      <div class="row quote">
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 foto_circle"> </div>
         <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 quote"> </div>
      </div>         
    </div> -->   
  </body>
</html>
